@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

$dark: #090909;
$light: #fff;

$yellow: #ffcd03;
$yellow-text: $dark;

$green: #4a197c;
$green-text: $light;


:root {
  --dark: #{$dark};
  --accent: #{rgba($dark,.05)};
  --light: #{$light};
  --space: 2em;
  --background: var(--light);
  --foreground: var(--dark);
  --foreground-inverted: var(--light);

  // --primary: #ffcd03;
  // --primary-text: var(--dark);
  // --secondary: #699545;
  // --secondary-text: var(--light);

  --primary: #{$yellow};
  --primary-text: #{$yellow-text};

  --secondary: #{$green};
  --secondary-text: #{$green-text};

  --success: #2cc86d;
  --error: #d54300;
  --warning: #ff8000;
  --info: #58c2ff;
}

body[color-mode="dark"] {
  --accent: #{rgba($light,.05)};
  --background: var(--dark);
  --foreground: var(--light);
  --foreground-inverted: var(--dark);
  --primary: #{$green};
  --primary-text: #{$green-text};

  --secondary: #{$yellow};
  --secondary-text: #{$yellow-text};

}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.content {
  max-width: 72ch;
  margin: auto;
  font-size: 1.25em;
  line-height: 1.5;

  a {
    color: var(--secondary);
  }

  h1,
  h2,
  h3,
  h4 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  >p:first-of-type {
    font-size: 1.5em;
  }

  ul,
  ol {
    li {
      &+li {
        margin-top: 1em;
      }
    }

    ul,
    ol {
      li+li {
        margin-top: 0;
      }
    }
  }

  section+section {
    margin-top: 2em;

    &::before {
      content: "";
      width: 10em;
      height: 0.5em;
      background-color: var(--primary);
      display: block;
      margin: var(--space) 0;
    }
  }

  ol {
    counter-reset: list_1 list_2_all list_3_all;
    display: flex;
    flex-direction: column;

    ol {
      counter-reset: list_2;

      ol {
        counter-reset: list_3;
      }
    }

    li {
      counter-increment: list_1;

      &:before {
        opacity: 0.5;
        font-size: 0.75em;
        margin-right: 1em;
        content: counter(list_1);
      }

      li {
        counter-increment: list_2 list_2_all;

        &:before {
          content: counter(list_1) "." counter(list_2);
        }

        li {
          counter-increment: list_3 list_3_all;

          &:before {
            content: counter(list_3_all) "." counter(list_1) "." counter(list_2) "." counter(list_3);
          }
        }
      }

      //      if the list has multiple sub lists, don't show the first number.

      &:has(ol ol),
      &:has(ul ul),
      &:has(ol ul),
      &:has(ul ol) {

        >ul>li,
        >ol>li {
          margin-top: var(--space);
        }

        &:before {
          content: none;
        }

        li {
          counter-increment: list_2 list_2_all;

          &:before {
            content: counter(list_2) ".";
          }

          li {
            counter-increment: list_3 list_3_all;

            &:before {
              width: 5em;
              display: inline-block;
              content: counters(list_2, ".", decimal-leading-zero) "."
                counters(list_3, ".", decimal-leading-zero) "."
                counters(list_3_all, ".", decimal-leading-zero);
              font-size: 0.5em;
              font-variant-numeric: tabular-nums;
            }
          }
        }

        li:has(> input) {
          align-items: center;
          display: flex;
        }
      }
    }
  }

  ol,
  ul {
    li:has(> input[type="checkbox"][disabled]) {
      margin: 0;
    }

    li:has(> input[type="checkbox"][disabled]:not(:checked)) {
      opacity: 0.25;
    }

    input[type="checkbox"][disabled] {
      appearance: none;
      border: 2px solid var(--foreground);
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      margin-right: 1em;
      min-width: 1.5em;
      min-height: 1.5em;

      // opacity: .5;
      &:checked {
        background-image: radial-gradient(var(--success) 50%, transparent 50%);
      }
    }
  }

  // ol {
  //   counter-reset: list2;
  //   li {
  //     counter-increment: list;
  //     &::before {
  //       content: counter(list) ". ";
  //       opacity: 0.5;
  //     }
  //     ol{
  //       counter-increment: list;

  //     }
  //     li{
  //       counter-increment: list2;
  //       &::before {
  //         content: counter(list)"."counter(list2);
  //         opacity: 0.5;
  //         font-size: .75em;
  //       }

  //     }
  //   }
  // }

  ul {
    li {
      &::before {
        content: "-";
        margin-right: 0.5em;
      }
    }
  }

  blockquote {
    background-color: var(--secondary);
    color: var(--secondary-text);
    margin: 0;
    padding: calc(var(--space));
    font-size: 1em;
    border-radius: .5em;

    p {
      margin: 0;
    }

    a {
      color: var(--primary);
    }
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  blockquote {
    margin: 0;

    &+h1,
    &+h2,
    &+h3,
    &+h4,
    &+p,
    &+ul,
    &+ol,
    &+blockquote {
      margin-top: 1em;
    }
  }
}

hr {
  width: 10em;
  height: 0.5em;
  background-color: var(--primary);
  border: none;
  margin: var(--space) 0;
}

